#main{


}
#head{
background-image:url('file:///C:/Users/hp/Desktop/inf%20project/07b40f1e3ad66728064657055452e28e.jpg');
height:300px;
padding:30px;
background-attachment:fixed
}


h1{
color:#FFFF00;	
text-align:left;
font-size:60px;
border:dashed 2px;

}

h2{
color:#FFFFFF;
text-align:left;
font-size:30PX;
font-family:cursive;
}
h3{
color:#FFFFFF;	
text-align:right;
font-size:30px;
	
	
}
#center{
background-color:#FFFF00;
height:20px;

	
	
}



#left-side{
background-color:#000000;
height:1000px;
width:1150px;

}
h4{
color:#FFFF00;	
text-align:center;
font-family:serif;
font-size:60px;	
}
p{
color:#FFFFFF;
text-align:center;
font-family:unset;
font-size:30pX;

h4{
color:#000000;
text-align:center;
font-family:serif;
font-size:30px;	
	
	
	
	
}

#right-side{
background-color:#FFFF00;
height:1000px;

	
}	
	
	
}